html {
    background-color: #e0f7fa; /* Un color suave y moderno */
    font-family: 'Roboto', sans-serif; /* Una fuente moderna y elegante */
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 2rem; /* Un poco más de espacio alrededor del contenido */
    line-height: 1.75; /* Mejorar la legibilidad */
    color: #333; /* Texto en un gris oscuro para un mejor contraste */
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1.5rem 0; /* Más espacio alrededor del título */
    font-size: 3rem; /* Un tamaño de fuente mayor para el título */
    font-weight: 700; /* Negrita para destacar el título */
    color: #00796b; /* Un color verde azulado moderno para el título */
}
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #f0f020;
}
/* estilos de la barra de navegación*/

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #1cc842;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #798eed;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburger {
      display: none;
    }
  }