---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Subtitulo jaja</h2>
  <Greeting client:load messages={["Hej", "Hello", "Ciao", "Habari","Hola"]} />
</BaseLayout>
